.errorMessage{
  color:red;
}

.form-row{
  margin-top: 10px;
}

body {
  margin: 0px 0px 0px 0px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/